@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: sans-serif;
}

h1 {
  margin: 0 0 1rem;
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  margin: 1rem 0;
  font-size: 1.5rem;
  font-weight: bold;
  border-bottom: 1px solid #333;
}

ul {
  margin: 0.5rem 0;
  padding-left: 1.5rem;
}

ul li {
  list-style-type: disc;
}

p {
  margin: 0.5rem 0;
  line-height: 1.5;
}
